<!-- <p>adminhome works!</p> -->
<br>

<div class="container w-100 h-50 bg-body-secondary p-lg-5">
    <h2>Welcome Admin</h2>
    <br>
    <p>"Welcome to the Medicare Admin Portal. Here, you have complete control over inventory management, customer
        data, and sales tracking. Ensure timely stock replenishments, monitor transaction histories, and streamline
        operations. Your one-stop hub for seamless healthcare product management. Stay organized and provide the best
        service to your customers."</p>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: teal;">
                <p class="fs-5 pt-2">
                    <a routerLink="/categories" class="link-light link-underline-opacity-0">Category List</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: teal;">
                <p class="fs-5 pt-2">
                    <a routerLink="/medicinelist" class="link-light link-underline-opacity-0">Medicine List</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 me-5">
            <div class="p-3 text-center rounded-end-pill" style="background-color: teal;">
                <p class="fs-5 pt-2">
                    <a routerLink="/viewallusers" class="link-light link-underline-opacity-0">User List</a>
                </p>
            </div>
        </div>
    </div>
</div>