<!-- <p>viewallusers works!</p> -->
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Users List</h4>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-sm text-center table-striped table-hover text-capitalize">
                <thead class="p-2">
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Date Of Birth</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.emailId }}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.dateOfBirth | date:'mediumDate' }}</td>
                        <td>
                            <button class="btn text-white rounded-pill" (click)="viewUser(user.id)"
                                style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;background-color: rgb(85, 38, 130);">
                                View</button>&nbsp;
                            <button class="btn text-white rounded-pill" (click)="onUpdate(user)"
                                style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;background-color: rgb(5, 103, 130);">
                                Edit</button>&nbsp;
                            <button class="btn text-white rounded-pill" (click)="onDelete(user.id)"
                                style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;background-color:crimson;">
                                Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>