<!-- <p>order works!</p> -->
<br>
<div class="col-md-8 m-auto">
    <h4>Your Orders</h4>

    <div class="card-body">
        <div class="card">
            <div class="card-header">
                Date : Oct 9, 2023
            </div>
            <div class="card-body">
                <h6>Ordered Medicines</h6>
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Medicine</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Paracetamol</td>
                            <td>2</td>
                            <td>&#8377;40</td>
                        </tr>
                        <tr>
                            <td>Combiflame</td>
                            <td>2</td>
                            <td>&#8377;140</td>
                        </tr>
                    </tbody>
                </table>
                <h6>Total Amount : 180</h6>
            </div>
        </div>
    </div>
</div>