<!-- <p>register works!</p> -->
<br>
<div class="col-md-7 m-auto">
    <div class="card">
        <div class="card-header text-light p-3" style="background-color: teal;">
            Be a part of Medicare
        </div>
        <div class="card-body">
            <form (submit)="onRegister()">
                <div>
                    <!-- <label>Firstname:</label> -->
                    <input class="form-control form-control-sm" [(ngModel)]="user.firstname" type="text"
                        placeholder="First Name" name="firstname" required>
                </div>
                <br>
                <div>
                    <!-- <label>Lastname:</label> -->
                    <input class="form-control form-control-sm" [(ngModel)]="user.lastname" type="text" name="lastname"
                        placeholder="Last Name" required>
                </div>
                <br>
                <div>
                    <!-- <label>Email Id : </label> -->
                    <input class="form-control form-control-sm" [(ngModel)]="user.emailId" name="emailId" required
                        placeholder="Email">
                </div>
                <br>
                <div>
                    <!-- <label>Password:</label> -->
                    <input class="form-control form-control-sm" type="password" [(ngModel)]="user.password"
                        placeholder="Password" name="password" required>
                </div>
                <br>
                <div class="ps-2 pe-2 pt-1 pb-1 border">
                    <label class="form-check-label">Gender :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender"
                            value="male" required>
                        Male
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender"
                            value="female" required> Female
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="user.gender" name="gender"
                            value="other" required>
                        Other
                    </div>
                </div><br>
                <div>
                    <!-- <label>BirthDay:</label> -->
                    <input class="form-control form-control-sm" [(ngModel)]="user.dateOfBirth" name="dateOfBirth"
                        placeholder="Date Of BirthDay" type="date" required>
                </div>
                <br>
                <div>
                    <button class="btn btn-dark btn-sm" type="submit">Register</button>&nbsp;
                    <button class="btn btn-dark btn-sm" type="reset">Reset</button>
                </div>

                <div *ngIf="message">
                    {{ message }}
                </div>
            </form>
        </div>
    </div>
</div>